* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background: linear-gradient(90deg, #eeaeca, #94bbe9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  cursor: pointer;
}

.rows {
  display: flex;
  height: 100%;
  width: 100%;
}

.col {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.sib-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
  margin-right: 5px;
}

.sib-container button {
  margin-bottom: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: rgba(148, 187, 233, 0.4);
  cursor: pointer;
}

.form-style {
  position: absolute;
}

.form-label {
  margin-right: 5px;
}

.input-text {
  border: none;
  padding: 10px 35px;
  border-radius: 5px;
}

.change {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.btn {
  margin-left: 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: azure;
  color: green;
  cursor: pointer;
}
