:root {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  width: 90%;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80%;
    width: 50%;
    cursor: pointer;
  }
}

.grid-item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.top {
  border-top: none;
}

.down {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(230, 100, 101, 0.5),
    rgba(145, 152, 229, 0.5)
  );
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-container .head-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 40px;
}

.win_banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(145, 152, 229, 0.9);
}

.head {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  display: block;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  border: none;
  cursor: pointer;
  padding: 0px;
  font-size: 20px;
  margin-top: 20px;
}

.play-markers {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.play-markers .player-mark,
.ai-mark {
  width: 20%;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}

.player-mark {
  background: rgba(115, 175, 224, 0.4);
  color: #fff;
}

.ai-mark {
  background: rgba(92, 160, 192, 0.4);
  color: #fff;
}
