:root {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 60%;
  width: 40%;
  cursor: pointer;
}

.grid-item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.top {
  border-top: none;
}

.down {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(230, 100, 101, 0.5),
    rgba(145, 152, 229, 0.5)
  );
}

.win_banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(145, 152, 229, 0.9);
}

.head {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  display: block;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  border: none;
  cursor: pointer;
  padding: 0px;
  font-size: 20px;
  margin-top: 20px;
}
